/*CODEPEN: STARS*/
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

/* Stars 
------------------------------------- */

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

.by {
  background-color: black;
  margin-bottom: 100px;
}
/*CODEPEN: STARS*/




/*CODEPEN: FADE-IN TEXT*/
.fade-in-text {
    font-family: "continuo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(255, 255, 255);
    position: relative;
    margin-top: 240px;
    font-size: 8vw;
    letter-spacing: 10px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 12s;
    -moz-animation: fadeIn 12s;
    -o-animation: fadeIn 12s;
    -ms-animation: fadeIn 12s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/*CODEPEN: FADE-IN TEXT*/


.navbar{
    z-index: 2;
    font-size: 25px;
    font-family: "basic-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.nav-link {
    position: relative;
    text-decoration: none;
    overflow: hidden;
  }
  
  .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 2px; /* Adjust thickness as needed */
    background-color: transparent;
    transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Adjust timing function as desired */
  }
  
  .nav-link:hover::before {
    right: 0;
    background-color: white; /* Adjust color as needed */
  }
  
  .navbar {
    background: none;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .nav-item {
    margin: 0 10px; /* Adjust spacing between items */
  }
  
  .navbar-toggler-icon {
    border-radius: 5px;
  }
  /* MY CSS */
.row1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1{
  margin-top: 500px;
}
.hr{
  border-top: 5px solid rgb(255, 255, 255);
  opacity: 1;
  width: 50%;
}
